html {
  font-size: 62.5%;
  width: 100%;
}

:root {
  /*FONTES*/

  --Roboto: 'Roboto', sans-serif;
  --Italiana: 'Italiana', sans-serif;

  /*CORES*/

  --backgroundTopHeader: #162028;
  --corTextoMenu: #425564;
  --corTextos: #555;
  --corFundoImagemDetalhada: #003d52;
  --corFundoFooter: #0b171f;
  --corTextoFooter: #6f8597;
  --corTitulo: #ffffff;
}

body {
  background-color: var(--corTitulo);
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--backgroundTopHeader);
}

.titulo {
  font-family: var(--Italiana);
  color: var(--corTitulo);
  font-size: 5em;
}

.header__subtitulos {
  display: flex;
  list-style: none;
  gap: 4em;
  font-family: var(--Roboto);
  text-transform: uppercase;
  font-size: 3em;
  color: var(--corTextoMenu);
}

.imagem-principal img {
  width: 100%;
}

.conteudo-principal_textos {
  margin: 3em 0em 0em 0em;
}

.conteudo-principal_titulo {
  font-family: var(--Italiana);
  font-size: 5em;
  text-align: center;
  margin-top: 2em;
}

.conteudo-principal_descricao {
  font-family: var(--Roboto);
  font-size: 2em;
  text-align: center;
  line-height: 2;
  padding: 0 22em;
}

.conteudo-principal_imagens {
  display: flex;
  margin: 5em 0 0 0;
  padding: 0 0 0 500px;
  font-family: var(--Roboto);
  font-size: 2em;
  color: var(--corTextos);
  text-align: center;
}

.caixa-modelos {
  list-style-type: none;
}

.caixa-modelos_titulo {
  font-weight: bold;
}

.conteudo-final {
  background-color: var(--corFundoImagemDetalhada);
  background-image: url(../imagens/bg_detalhe.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 5em 5em 5em 5em;
}

.conteudo-final_titulo {
  text-transform: uppercase;
  font-family: var(--Italiana);
  font-weight: 500;
  color: var(--corTitulo);
  font-size: 5em;
  padding: 0 8em 0 10.5em;
  text-align: left;
}

.conteudo-final_texto {
  font-family: var(--Roboto);
  color: var(--corTitulo);
  font-size: 2em;
  padding: 0 26em;
  text-align: left;
}

.rodape {
  background-color: var(--corFundoFooter);
  color: var(--corTextoFooter);
  padding: 1em;
  font-size: 2em;
  font-family: var(--Roboto);
  letter-spacing: 2px;
}

.rodape_frase {
  text-align: center;
}
